body {
  font-family: "Lora", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif;
  background: black;
}

.header-2 {
  background: url(https://64.media.tumblr.com/1061954fcd7cb725dae4b956662e45f2/tumblr_inline_mqgbzfONSi1qz4rgp.gif);
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.header-2 p {
  font-size: 50px;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
  color: white;
}
.header-2 p span.typed-text {
  font-weight: normal;
  color: pink;
}
.header-2 p span.cursor {
  display: inline-block;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.header-2 p span.cursor.typing {
  animation: none;
}
.change-color {
  filter: grayscale(100%);
}
.cotainer-about-images {
  display: block;
  text-align: center;
  display: flex;
}
.einsiedeln-image {
  display: block;
  text-align: center;
  display: flex;
  margin: 0 auto;
}

section.finale {
  header {
    background-image: url("../images/WEDDING2.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 200px 0;
  }
}
.our-home {
  display: block;
  text-align: center;
  display: flex;
  margin: 0 auto;
  margin-left: 300px;
  margin-bottom: 30px;
  padding: 30px;
}
.new-years {
  margin-left: 500px;
  display: block;
  text-align: center;
  max-width: 100%;
}
.trip-images {
  margin-left: 150px;
  margin-inline-end: 30px;
  padding: 5px;
  border-radius: 60px;
  margin-bottom: 30px;
  margin-right: 50px;
  margin-top: 50px;
}

.einsiedeln-pictures {
  margin-left: 250px;
  margin-bottom: 30px;
}
img {
  margin: 0;
  padding: 0;
}

p {
  text-align: center;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-family: "Lora", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-family: "Lora", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
}
h2 {
  font-family: "Poppins", sans-serif;
  font-family: "Lora", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
}
h3 {
  font-family: "Poppins", sans-serif;
  font-family: "Lora", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
}

h4 {
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-family: "Lora", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
a {
  font-family: "Poppins", sans-serif;
  font-family: "Lora", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

section h2 {
  color: black;
  font-family: "Poppins", sans-serif;
  font-family: "Lora", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
}
.text-center {
  color: black;
  font-family: "Poppins", sans-serif;
  font-family: "Lora", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
}

footer {
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  font-family: "Lora", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;

  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url("../images/WEDDING2.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  text-align: center;
  padding: 200px 0;
}

h1.finale {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h2.finale {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h3.finale {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
img {
  max-width: 100%;
  border: 5px aliceblue;
  border-radius: 15px;
  box-shadow: 0 0 10px 5px aliceblue;
  display: block;
}

.img-fluid {
  width: 100%;
  border-radius: 10px;
  height: auto;
}
.btn-light {
  background-color: pink;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 30px;
  margin-left: 40px;
  font-family: "Poppins", sans-serif;
  font-family: "Lora", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url("../images/WEDDING.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}

.link {
  color: white;
  text-decoration: none;
}
.link:hover {
  color: pink;
}

section.secondary {
  background-image: linear-gradient(180deg, #93a5cf, #e4efe9);
  text-align: center;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #272044;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: white;
}

main h3 {
  font-weight: 700;
  font-size: 35px;
  line-height: 1.5;
  color: white;
  margin: 0;
  font-family: "Lora", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif;
}

a:hover {
  color: pink;
}

p {
  color: white;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }
}
.grid {
  grid-template-columns: 1fr 2fr 2fr;

  grid-gap: 32px;
}

section {
  padding: 30px;
}
