body {
  font-family: "Lora", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif;
  background: black;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-family: "Lora", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
}
h2 {
  font-family: "Poppins", sans-serif;
  font-family: "Lora", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
}
h3 {
  font-family: "Poppins", sans-serif;
  font-family: "Lora", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
a {
  font-family: "Poppins", sans-serif;
  font-family: "Lora", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

section h2 {
  color: black;
  font-family: "Poppins", sans-serif;
  font-family: "Lora", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
}
.text-center {
  color: black;
  font-family: "Poppins", sans-serif;
  font-family: "Lora", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
}

section p {
  color: black;
  font-family: "Poppins", sans-serif;
  font-family: "Lora", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
}
footer {
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  font-family: "Lora", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
}

.btn-light {
  background-color: pink;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 30px;
  margin-left: 40px;
  font-family: "Poppins", sans-serif;
  font-family: "Lora", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url("../images/WEDDING.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}

.img-responsive {
  max-width: 26%;
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 30px;
  margin-left: 40px;
}
.link {
  color: white;
  text-decoration: none;
}
.link:hover {
  color: pink;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-3-columns {
  grid-template-columns: 2fr 2fr 2fr;
}
.card {
  background: white;
  margin: 30px 0;
}
.card-body {
  padding: 30px;
}
.card p {
  font-family: "Poppins", sans-serif;
  font-family: "Lora", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
  font-size: 15px;
  text-align: center;
}
section.secondary {
  background-image: linear-gradient(200deg, lightyellow, black);
  text-align: center;
}

ul {
  list-style-type: none;
}
header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #272044;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: white;
}

main h3 {
  font-weight: 700;
  font-size: 35px;
  line-height: 1.5;
  color: white;
  margin: 0;
  font-family: "Lora", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif;
}

a:hover {
  color: pink;
}

p {
  color: white;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }
}
.grid {
  grid-template-columns: 1fr 2fr 2fr;

  grid-gap: 32px;
}

section {
  padding: 30px;
}
